p {
  color: black;
  font-family: 'Poiret One', cursive;
}
body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  margin: 0;
}
.my-name {
     font-family: 'Playfair Display', serif;
     font-weight: bold;
     text-align: center;
     font-size: 5rem;
     white-space: nowrap;
     /* position: fixed; */

}

/* div {
  width: 400px;
  margin: 0 auto;
} */

h2 {
color : white;
font-family: 'Poiret One', cursive;
text-align: center;
font-size: 50px
}
h3 {
  font-family: 'Rufina', serif;
  color: black;
}
.mt-0 {
  font-family: 'Rufina', serif;
  color: black;
}
h5 {
  font-family: 'Rufina', serif;
  color: #000;
}
h6 {
  font-family: 'Rufina', serif;
  color: #000;
}
.milly-header {
  padding-top: 80px;
  height: 50rem;
  color: white;
  background-image: url("lol.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


/* ---------------------------#navbar */
#navbar {
  height: 8vh;
  background-color: #FFFFFF;
  text-align: center;
  font-family: 'Poiret One', cursive;
}

#navbar ul {
  /* border: 1px solid lightblue; */
  display: inline-block;
  margin: 0;
  margin-top: .5rem;
  padding: 0;
}

#navbar ul li {
  display: inline-block;
}

#navbar ul li a {
  display: inline-block;
  padding: .5rem 1rem;
  text-decoration: none;
}

#navbar ul li a:hover {
  background-color: lightblue;
  color: papayawhip;
  transition-duration: 350ms;
  transform: rotate(360deg);

}

#jumbotron {
width: 80rem;
height: 50rem;
}
.media-pic, .media-body {
  /* comma applies to both */
  text-align: center;
  padding: 20px 40px;
}
.media-pic .media-body {
  /* applies to inside */
}

.media-pic>.media-body {
  /* applies to directly child */
}
.media-pic.media-body {
  applies to element with both classes
}
.milly {
  height:45vh;
  border-radius: 50%;
}
.plans {
  height: 45vh;
  width: 33vw;
}
